
.content {
  position: relative;
  width: 50vw;
  /* height: auto; */
  user-select: none;
}

.content > div {
  position: absolute;
  width: 320px;
  height: 90px;
  /* height: 100%; */
  transform-origin: 50% 50% 0px;
  border-radius: 5px;
  color: white;
  /* line-height: 90px; */
  /* padding-left: 32px; */
  padding: 8px;  
  /* font-size: 14.5px; */
  /* background: lightblue; */
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  touch-action: none;
  height: 100%;
}

